!!!5

%html{lang: "ja"}
  %head
    %title Boilerplate
    %a{href: "/css/application.css", rel: "stylesheet"}
  %body
    %h1 test
    %script{src: "/js/vendor/requirejs/require.js", data-main: "/js/main"}
